[user]
	name = Vineet Jain
	email = jain.vinee@gmail.com

[branch]
	autosetuprebase = always

[rerere]
	enabled = true

[credential]
	helper = store

[color]
    ui = auto
    status = auto
    branch = auto

[color "status"]
    added = green
    changed = yellow
    deleted = red
    untracked = cyan

[diff]
    tool = vimdiff

[log]
    date = relative

[alias]
    graph = log --graph --full-history --all --pretty=format:'%C(yellow)%h%Creset %Cgreen(%cr) %C(bold blue)%d%Creset %C(bold magenta)(%an)%Creset %s %Creset' --abbrev-commit
